* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main {
    margin-block: 2rem;
}

nav {
    margin-left: .5rem;
    position: absolute;
    width: max-content;
}

nav a {
    width: max-content;
    font-size: 1.2rem;
    display: block;
    margin: 0 .5rem 4rem;
}

a:hover {
    text-decoration: none;
    color: black;
}

article {
    font-weight: 100;
    margin-bottom: 2rem;
}

h3{
    font-style: italic;
}

p {
    margin: 0 0 .5rem 1rem;
}

.wrapp {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 50vh;
    margin-top: 1rem;
}

#banner {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

#title-name {
    font-size: 3rem;
    margin: .5rem;
    position: absolute;
    top: 0;
    font-weight: lighter;
}

.sub-title {
    width: 100%;
    padding: .5rem;
    text-align: center;
    display: inline-block;
    background-color: black;
}

.logo-and-title {
    color: white;
    width: 100%;
}

#logo {
    position: absolute;
    right: 10%;
    transform: translateY(-25%);
    width: 6rem;
    border: 2px solid white;
    background-color: black;
}

.info {
    margin-inline: 12rem 0;
}

.parraf {
    width: 60%;
    margin-inline: 12rem 0;
}

.parraf p {
    margin-left: 1rem;
    text-indent: 20px;
}

.contact {
    margin-inline: 12rem 0;
    font-size: 1.4rem;
}

.contact p {
    margin: 0;
}

.second-img {
    position: absolute;
    display: inline-block;
    margin: 0 .5rem;
    top: 0;
    right: 5%;
    height: 80%;
    width: 18%;
    object-fit: cover;
    z-index: -1;
}