* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px white;
}

nav {
    top: 0;
    padding: 3rem 1rem;
    height: 100%;
    position: absolute;
    background-color: white;
    width: max-content;
}

nav a {
    width: max-content;
    font-size: 1.2rem;
    display: block;
    margin: 0 .5rem 4rem;
}

a:hover {
    color: yellow;
    text-shadow: 2px 2px black;
}

article {
    font-weight: 100;
    padding:.4rem;
    width: fit-content;
    background-color: rgb(0, 0, 0, .5);
    margin-bottom: 2rem;
}

h3{
    font-style: italic;
}

p {
    margin: 0 0 .5rem 1rem;
}

.wrapp {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 50vh;
    margin-top: .5rem;
    padding: 2rem 0 0;
}

#banner {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

#title-name {
    font-size: 3rem;
    color: yellow;
    text-shadow: 2px 2px black;
    background-color: rgb(0, 0, 0, .5);
    margin: .5rem .5rem .5rem 0;
    padding: .4rem;
    position: absolute;
    top: 0;
    font-weight: lighter;
}

.sub-title {
    color: yellow;
    width: 100%;
    padding: .8rem;
    text-align: center;
    display: inline-block;
    background-color: black;
}

.logo-and-title {
    color: white;
    width: 100%;
}

#logo {
    position: absolute;
    right: 10%;
    transform: translateY(-25%);
    width: 6rem;
    border: 2px solid white;
    background-color: black;
}

.info {
    margin-inline: 12rem 0;
    color: white;
}

.parraf {
    width: 60%;
    margin-inline: 12rem 0;
}

.parraf h2 {
    text-shadow: 2px 2px white;
}

.parraf p {
    text-indent: 20px;
    padding: .4rem;
    color: white;
    background-color: rgb(0, 0, 0, .5);
}

.contact {
    margin-inline: 12rem 0;
    font-size: 1.4rem;
}

.contact p {
    margin: 0;
    width: fit-content;
    padding: .3rem 1rem;
    background-color: rgb(0, 0, 0, .5);
}

.second-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}